* {
  font-family: 'Work Sans', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: #cccccc;
}
  
.header a, .dropbutton {
  float: left;
  display: block;
  color: #000000;
  text-align: right;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
}
  
.header-right a, .header-right div {
  float: right;
}

.header-right a.current, .header-right div.current {
  background-color: #daf5fd;
  color: white;
}
  
.button, .dropbutton {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
  
.menu {
  float: left; 
  padding-top: 11px;
  padding-bottom: 11px;
}

.header-right .menu {
  display: none;
}

.header-right .button:hover, .menu:hover {
  background-color: aliceblue;
  color: black;
}
  
.active {
  background-color: aliceblue;
}

.dropdown {
  position: relative;
  display: block;
}
  
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


  
@media screen and (max-width: 1000px) {
  .header-right a {display: none;}
  .header .menu {
    float: right;
    display: block;
  }
  
  .header.responsive {position: fixed;}
  .header.responsive .menu {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header.responsive a, .header.responsive .dropdown {
    float: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    text-align: left;
    display: block;
    position: relative;
    z-index: 99;
  }
}