* {
  font-family: 'Work Sans', sans-serif;
}

#head {
  z-index: 99;
}

#foot {
  z-index: 99;
}

.text-box {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  position: relative;
}

.image-full {
  height: auto;
  width: 100%;
  object-fit: contain;

  border: none;
  align-items: center;
  padding-bottom: 1em;
}

.row {
  display: flex;
  max-width: 100%;
}

.row div, .row a {
  flex: 1;
}

.column {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
    flex: auto;
    width: 100%;
  }
  .column-three {
    align-items: center;
  }
}
