* {
  font-family: 'Work Sans', sans-serif;
}

#head {
  z-index: 99;
}

#foot {
  z-index: 99;
}

.text-box {
  padding-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
  position: relative;
}

.image-full {
  max-height: 100%;
  max-width: 100%;
  border: none;
  align-items: center;
  padding-bottom: 1em;
}

.image-part {
  max-height: 100%;
  max-width: 100%;
  border: none;
  align-items: center;
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .image-part {
    max-width: 560px;
  }
}
