* {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none !important;
}

h1 {
  padding-top: 2%;
}

.profile-box h3, .profile-box h5 {
  padding-left: 5%;
  color: black;
}
.desc h2 {
  padding-top: 4%;
}

h5 {
  padding-bottom: 2%;
}

.profile {
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.profile-box {
  margin-bottom: 3%;
  padding-bottom: 2%;
  border: none;
}

.profile-box img {
  object-position: center;
}

.profile-box:hover {
  box-shadow: 0 0 20px rgba(33,33,33, .4); 
  border-radius: 10px;
  transition: box-shadow .5s;
}

.line {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.border-box {
  border-color: #dddddd;
  border-width: 10px;
}

.individual-page-box {
  padding-top: 2%;
  padding-bottom: 2%;
  border: none;
}
.individual-page-box h3, .individual-page-box h5 {
  padding-left: 5%;
}

.individual-profile {
  max-width: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.surrounding-profile {
  margin-top: 2%;
  border: 2px solid #eeeeee; 
  border-radius: 10px; 
  box-shadow: 0 0 4px rgba(200, 200, 200, .4);
  max-width: 90%;
  margin: auto;
}

.description-profile-box {
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}